# This is Git's per-user configuration file.
[user]
  email = alex.phyp@gmail.com
  name = Aleksandr Gavrishchuk

[core]
  excludesfile = ~/.gitignore-system
  editor = nvim
  autocrlf = input
  quotePath = false

[includeIf "gitdir:~/work_projects/"]
  path = ~/work_projects/.gitconfig_override

[includeIf "gitdir:~/projects/"]
  path = ~/projects/.gitconfig_override

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
  blame = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[include]
  path = ~/.gitconfig_delta

[delta]
#  features = collared-trogon
  features = tangara-chilensis
  line-numbers = true
  navigate = true
  side-by-side = true

[delta "interactive"]
  keep-plus-minus-markers = false

[init]
	defaultBranch = master
